<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<p>My question :<%=  @question%></p>
<p>- You</p>
<p>Answer : <%= @answer %></p>
<p>- Your coach</p>

<%= link_to "Ask a new question", ask_path, :class => "btn btn-treehouse" %>
